<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="nav">
        <h1>NodeJS</h1>
        <div class="menu">
            <a class="link active" href="home">Home</a>
            <a class="link" href="products">Products</a>
            <a class="link" href="contacts">Contacts</a>
        </div>
    </div>
    <div class="container home">
        <h1>Home</h1>
        <div class="count"></div>
    </div>
</body>
</html>